.header {
    width: 100%;
    position: sticky;
    overflow-x: hidden;
    top: 0;
    background-color: rgb(var(--background-color-rgb));
    z-index: 100;
    display: flex;
    justify-content: center;
}

.navContainer {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: var(--padding-inline-xlarge);
    gap: var(--gap-medium);
    max-width: var(--max-width);
}

.navContainer ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.navContainer li {
    padding: 0;
}

.navContainer a {
    text-decoration: none;
    font-size: var(--font-size-large);
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-medium);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.horizontalMenu {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.rightContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap-large);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.hamburgerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-small);
}

.hamburgerContainer p {
    font-size: var(--font-size-large);
}

.hamburgerButton {
    background-color: transparent;
    color: rgb(var(--text-color-rgb));
    border: none;
    transform: scale(1.6);
    cursor: pointer;
    padding-inline: var(--padding-inline-small);
}

.themeContainer {
    position: absolute;
    top: var(--padding-block-large);
    left: var(--padding-block-large);
    padding-inline: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeButton {
    position: absolute;
    top: var(--padding-block-medium);
    right: var(--padding-block-large);
    font-size: var(--font-size-x2large);
    cursor: pointer;
    padding: 0.5rem;
    width: 40px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.verticalMenu {
    position: fixed;
    top: 0;
    right: -100vw;
    width: 100vw;
    height: 100vh;
    background-color: rgb(var(--text-color-rgb));
    color: rgb(var(--background-color-rgb));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-large);
    z-index: 10;
    transition: transform 0.5s ease-in-out;
    border-left: 1px solid black;
    z-index: 1;
    overflow: hidden;
}

.openMenu {
    animation-name: openMenuAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.closeMenu {
    animation-name: closeMenuAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.grain {
    position: absolute;
    /* put in the middle along both axes */
    left: calc(35vw - 15rem);
    bottom: calc(50vh - 15rem);
    opacity: 0.3;

    /* responsive, but upper capped radius */
    padding: 15rem;
    border-radius: 50%; /* turn square to disc */
    background: /* throw in different colours */ conic-gradient(
        red,
        purple,
        green,
        yellow,
        orange
    );
    filter: url(#grainy-blur); /* the magic */
    z-index: -1;
}

.verticalMenu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-large);
    width: calc(100% - 2 * var(--padding-inline-xlarge));
}

.verticalMenu li {
    width: 100%;
}

.verticalMenu p {
    width: 100%;
    text-align: center;
    font-size: var(--font-size-x2large);
    transition: all 0.3s ease-in-out;
    font-weight: 0;
}

@media screen and (max-width: 700px) {
    .rightContainer {
        justify-self: flex-end;
        width: 100%;
        align-items: center;
        opacity: 1;
    }
    .logoContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--gap-medium);
        opacity: 1;
    }
    .horizontalMenu {
        opacity: 1;
    }
}

@media screen and (max-width: 400px) {
    .contactButton p {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 315px) {
    .hamburgerContainer p {
        font-size: var(--font-size-small);
    }
}

.highlightedItem {
    color: rgb(var(--accent-color-dark-1-rgb));

    letter-spacing: 4px;
}

@-webkit-keyframes criss-cross-left {
    0% {
        left: -20px;
    }
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}

@keyframes criss-cross-left {
    0% {
        left: -20px;
    }
    50% {
        left: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        left: 50%;
        width: 375px;
        height: 375px;
    }
}
@-webkit-keyframes criss-cross-right {
    0% {
        right: -20px;
    }
    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}
@keyframes criss-cross-right {
    0% {
        right: -20px;
    }
    50% {
        right: 50%;
        width: 20px;
        height: 20px;
    }
    100% {
        right: 50%;
        width: 375px;
        height: 375px;
    }
}

@media (pointer: fine) {
    .verticalMenu p:hover {
        color: rgb(var(--accent-color-dark-1-rgb));
        letter-spacing: 4px;
    }
    .contactButton {
        position: relative;
        color: rgb(var(--accent-color-dark-1-rgb));
        background-color: rgb(var(--background-color-rgb));
        display: block;
        overflow: hidden;
        max-width: 250px;
        text-transform: uppercase;
        border-radius: border-radius;
        border: none;
    }
    .contactButton p {
        position: relative;
        z-index: 1;
    }
    .contactButton:before,
    .contactButton:after {
        position: absolute;
        top: 50%;
        content: "";
        width: 20px;
        height: 20px;
        background-color: rgb(var(--accent-color-dark-1-rgb));
        border-radius: 50%;
        z-index: 0;
    }
    .contactButton:before {
        left: -20px;
        transform: translate(-50%, -50%);
    }
    .contactButton:after {
        right: -20px;
        transform: translate(50%, -50%);
    }
    .contactButton:hover {
        color: rgb(241, 241, 241);
    }
    .contactButton:hover:before {
        -webkit-animation: criss-cross-left 0.8s both;
        animation: criss-cross-left 0.8s both;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;
    }
    .contactButton:hover:after {
        -webkit-animation: criss-cross-right 0.8s both;
        animation: criss-cross-right 0.8s both;
        -webkit-animation-direction: alternate;
        animation-direction: alternate;
    }
    .closeButton:hover {
        transform: scale(1.2);
    }
}

.contactButton {
    background-color: rgb(var(--background-color-rgb));
    color: rgb(var(--accent-color-dark-1-rgb));
    padding-inline: var(--padding-inline-large);
    padding-block: var(--padding-block-medium);
    border: 1px solid rgb(var(--accent-color-dark-1-rgb));
    cursor: pointer;
}

@keyframes openMenuAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100vw);
    }
}

@keyframes closeMenuAnimation {
    0% {
        transform: translateX(-100vw);
    }
    100% {
        transform: translateX(0);
    }
}
