.main {
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.section {
    padding-inline: var(--padding-inline-large);
    padding-block: var(--padding-block-large);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 100vw;
    max-width: 1200px;
}

.title {
    font-size: 10rem;
    letter-spacing: -15px;
    line-height: 0.9;
}

.title span {
    color: rgb(var(--accent-color-dark-1-rgb));
}

.description {
    font-size: 0.8rem;
    max-width: 800px;
}

.image {
    position: absolute;
    top: 0;
    right: 20%;
    z-index: -1;
    height: 1100px;
}

@media screen and (max-width: 680px) {
    .title {
        font-size: 8rem;
        letter-spacing: -13px;
    }
}

@media screen and (max-width: 580px) {
    .title {
        font-size: 7rem;
        letter-spacing: -12px;
    }
}

@media screen and (max-width: 480px) {
    .title {
        font-size: 6rem;
        letter-spacing: -9px;
    }
}

@media screen and (max-width: 380px) {
    .title {
        font-size: 5rem;
    }
}
