.main {
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: rgb(var(--background-color-rgb), 0.4);
}

.section {
    max-width: var(--max-width);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.grain {
    position: absolute;
    /* put in the middle along both axes */
    top: 10%;
    left: min(45vmin, 15rem);
    /* responsive, but upper capped radius */
    padding: min(45vmin, 30rem);
    border-radius: 50%; /* turn square to disc */
    background: /* throw in different colours */ conic-gradient(
        green,
        yellow,
        orange,
        red,
        purple
    );
    filter: url(#grainy-blur); /* the magic */
    z-index: 10;
}

.normalSection {
    background-color: rgb(var(--background-color-rgb));
    color: rgb(var(--text-color-rgb));
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.invertSection {
    background-color: rgb(var(--text-color-rgb));
    color: rgb(var(--background-color-rgb));
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-start: -10rem;
    position: relative;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--padding-inline-xlarge);
    padding-block-start: var(--padding-block-xlarge);
    gap: var(--gap-large);
    width: 100%;
}

.titleItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.leftP {
    font-size: var(--font-size-small);
    font-weight: 800;
}

.rightP {
    padding-block-start: var(--padding-block-medium);
    font-size: var(--font-size-small);
}

.leftItem h1 {
    font-size: var(--font-size-x2large);
    letter-spacing: -1px;
    line-height: 1;
    max-width: 500px;
}

.imageSectionContainer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-start: 4rem;
    z-index: 1;
    /* Animation properties */
    animation-name: rotateIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-play-state: running;
}

.imagesContainer {
    width: calc(100% - 2 * var(--padding-inline-xlarge));
    max-width: var(--max-width);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 441px;
}

.arrowContainer {
    width: calc(100% - 2 * var(--padding-inline-xlarge));
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    gap: var(--gap-large);
    align-self: center;
    justify-content: flex-end;
}

.leftArrow {
    background-image: var(--left-arrow-url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.circle {
    background-image: var(--circle-url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 10px;
    height: 10px;
}

.rightArrow {
    background-image: var(--right-arrow-url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.arrowContainer p {
    font-size: var(--font-size-large);
    font-weight: 400;
}

.image {
    width: 650px;
    height: 441px;
    border: 1px solid rgb(var(--accent-color-light-1-rgb));
    box-shadow: var(--card-box-shadow);
    position: absolute;
    z-index: 1;
    transition: transform 0.4s ease-in;
}

.sectionContainerFirst {
    max-width: var(--max-width);
    width: calc(100% - 2 * var(--padding-inline-xlarge));
    display: flex;
    flex-direction: column;
    margin-block-end: 5rem;
    margin-block-start: 25rem;
}

.sectionContainer {
    max-width: var(--max-width);
    width: calc(100% - 2 * var(--padding-inline-xlarge));
    display: flex;
    flex-direction: column;
    margin-block-end: 5rem;
    padding-block-start: var(--padding-block-xlarge);
}

.textHeader {
    color: rgb(var(--accent-color-dark-1-rgb));
    font-size: var(--font-size-small);
    font-weight: 600;
}

.textTitle {
    font-size: var(--font-size-x2large);
    letter-spacing: -1px;
    line-height: 1;
    max-width: 500px;
}

.description {
    font-size: var(--font-size-);
}

.technologyDescription {
    display: flex;
    flex-direction: column;
}

.technologyList {
    display: flex;
    gap: var(--gap-medium);
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
}

.technologyContainer {
    padding-block-start: var(--padding-block-x2large);
}

.technologyList .item {
    background-color: rgb(var(--accent-color-dark-1-rgb));
    border-radius: var(--border-radius);
    padding-inline: 1rem;
    padding-block: 0.25rem;
    color: white;
}

.mainImage {
    align-self: center;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin-block-start: var(--padding-block-small);
    border-radius: var(--border-radius);
}

.featureContainerFlip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-start: var(--padding-block-x2large);
    width: 100%;
    border-radius: var(--border-radius);
    padding-inline: var(--padding-inline-large);
    padding-block: var(--padding-block-large);
    position: relative;
}

.featureContainerFlip::before {
    content: "";
    position: absolute;
    left: -5000px;
    bottom: calc(-var(--padding-block-large));
    width: 10000px;
    outline: 3px solid rgb(var(--accent-color-dark-1-rgb));
    outline-offset: -1px;
    height: 100%;
    background-color: rgb(var(--accent-color-dark-1-rgb));
    z-index: 0;
    transform: rotate(3deg);
    padding-block: var(--padding-block-large);
}

.featureContainerFlip::after {
    content: "";
    position: absolute;
    right: -5000px;
    bottom: calc(-var(--padding-block-large));
    width: 10000px;
    outline: 3px solid rgb(var(--accent-color-dark-1-rgb));
    outline-offset: -1px;
    height: 100%;
    background-color: rgb(var(--accent-color-dark-1-rgb));
    z-index: 0;
    transform: rotate(-3deg);
    padding-block: var(--padding-block-large);
}

.featureContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-start: var(--padding-block-x2large);
    width: 100%;
    border-radius: var(--border-radius);
    padding-inline: var(--padding-inline-large);
    padding-block: var(--padding-block-large);
    position: relative;
}

.featureContainer::before {
    content: "";
    position: absolute;
    left: -5000px;
    bottom: calc(var(--padding-block-large) * -2);
    width: 10000px;
    outline: 3px solid rgb(var(--accent-color-dark-1-rgb));
    outline-offset: -1px;
    height: 100%;
    background-color: rgb(var(--accent-color-dark-1-rgb));
    z-index: 0;
    transform: rotate(-3deg);
    padding-block: var(--padding-block-large);
}

.featureTitle {
    padding-block-end: var(--padding-block-large);

    font-size: var(--font-size-x2large);
    z-index: 1;
}

.featureList {
    display: flex;
    justify-content: space-between;
    gap: var(--gap-large);
}

.feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: min-content;
    z-index: 1;
    width: 50%;
}

.feature p {
    font-size: var(--font-size-small);
    width: 90%;
    padding-block-start: var(--padding-block-small);
}

.feature h1 {
    font-size: var(--font-size-large);
    font-weight: 600;
    padding-block-end: var(--padding-block-small);
}

.featureGif {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    box-shadow: var(--card-box-shadow);
}

.downloadContainer {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
    justify-content: center;
    align-items: center;
    padding-block-start: var(--padding-block-x2large);
    width: 100%;
}

.downloadButton {
    padding-inline: var(--padding-inline-large);
    padding-block: var(--padding-block-small);
    border-radius: var(--border-radius);
    border: none;
    background-color: rgb(var(--accent-color-dark-1-rgb));
}

.resumeTitleContainer {
    margin-block-start: var(--padding-block-xlarge);
}

@media screen and (max-width: 860px) {
    .featureList {
        flex-direction: column;
        gap: var(--gap-large);
        justify-content: center;
        align-items: center;
    }
    .feature {
        width: 90%;
    }
    .featureTitle {
        text-align: center;
    }
    .image {
        width: 516px;
        height: 350px;
    }
    .imageChild {
        width: 516px;
        height: 350px;
    }
    .invertSection {
        margin-block-start: -15rem;
    }
}

@media screen and (max-width: 730px) {
    .image {
        width: 442px;
        height: 300px;
    }
    .imageChild {
        width: 442px;
        height: 300px;
    }
    .invertSection {
        margin-block-start: -15rem;
    }
    .feature {
        width: 100%;
    }
}

@media screen and (max-width: 585px) {
    .image {
        width: 385px;
        height: 260px;
    }
    .imageChild {
        width: 385px;
        height: 260px;
    }

    .invertSection {
        margin-block-start: -18rem;
    }

    .technologyList .item p {
        overflow: auto;
    }
}

@media screen and (max-width: 500px) {
    .image {
        width: 315px;
        height: 215px;
    }
    .imageChild {
        width: 315px;
        height: 215px;
    }
    .invertSection {
        margin-block-start: -20rem;
    }
    .imageSectionContainer {
        margin-block-start: 3rem;
    }
}

@media screen and (max-width: 394px) {
    .image {
        aspect-ratio: 1.474;
        width: 100%;
        height: auto;
        border: none;
    }
    .imageChild {
        aspect-ratio: 1.474;
        width: 100%;
        height: auto;
    }
    .invertSection {
        margin-block-start: -20rem;
    }
    .arrowContainer p {
        font-size: var(--font-size-medium);
    }
}

.fadeIn {
    animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.slideInLeft {
    animation: slideInFromLeft 0.5s forwards;
    transition: opacity 0.5s slideInFromLeft;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes rotateIn {
    0% {
        transform: rotate(90deg) translateY(-2000px);
    }
    100% {
        transform: rotate(0deg) translateY(0px);
    }
}
