.main {
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: rgb(var(--background-color-rgb));
}

.section {
    max-width: var(--max-width);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.invertSection {
    background-color: rgb(var(--text-color-rgb));
    color: rgb(var(--background-color-rgb));
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-start: -5rem;
    position: relative;
}

.titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--padding-inline-xlarge);
    padding-block-start: var(--padding-block-xlarge);
    gap: var(--gap-large);
}

.titleItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.leftItem p {
    font-size: var(--font-size-small);
    font-weight: 600;
}

.rightItem p {
    font-size: var(--font-size-small);
}

.leftItem h1 {
    font-size: var(--font-size-x2large);
    letter-spacing: -1px;
    line-height: 1;
    max-width: 500px;
}

.imageSectionContainer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-start: 12rem;
}

.imagesContainer {
    width: calc(100% - 2 * var(--padding-inline-xlarge));
    max-width: var(--max-width);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 441px;
}

.arrowContainer {
    width: calc(100% - 2 * var(--padding-inline-xlarge));
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    gap: var(--gap-large);
    align-self: center;
    justify-content: flex-end;
}

.leftArrow {
    background-image: var(--left-arrow-url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.circle {
    background-image: var(--circle-url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 10px;
    height: 10px;
}

.rightArrow {
    background-image: var(--right-arrow-url);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.imageTitle {
    font-size: var(--font-size-large);
    font-weight: 600;
}

.image {
    width: 650px;
    height: 441px;
    border: 1px solid rgb(var(--accent-color-light-1-rgb));
    transition: transform 0.7s ease;
    box-shadow: var(--card-box-shadow);
    position: absolute;
    z-index: 1;
}

.image3 {
    top: 120px;
    right: 120px;
    z-index: 1;
    filter: blur(1px);
    position: absolute;
}

.image2 {
    top: 80px;
    right: 80px;
    box-shadow: var(--card-box-shadow);
    z-index: 2;
    filter: blur(1px);
    position: absolute;
}

.image1 {
    top: 40px;
    right: 40px;
    box-shadow: var(--card-box-shadow);
    z-index: 3;
    filter: blur(1px);
    position: absolute;
}

.activeImage {
    box-shadow: var(--card-box-shadow);
    z-index: 4;
    filter: blur(0px);
}

.sectionContainerFirst {
    max-width: var(--max-width);
    width: calc(100% - 2 * var(--padding-inline-xlarge));
    display: flex;
    flex-direction: column;
    margin-block-end: 5rem;
    margin-block-start: 25rem;
}

.sectionContainer {
    max-width: var(--max-width);
    width: calc(100% - 2 * var(--padding-inline-xlarge));
    display: flex;
    flex-direction: column;
    margin-block-end: 5rem;
    padding-block-start: var(--padding-block-xlarge);
}

.textHeader {
    color: rgb(var(--accent-color-dark-1-rgb));
    font-size: var(--font-size-small);
    font-weight: 600;
}

.textTitle {
    font-size: var(--font-size-x2large);
    letter-spacing: -1px;
    line-height: 1;
    max-width: 500px;
}

.description {
    font-size: var(--font-size-);
}

.technologyDescription {
    display: flex;
    flex-direction: column;
}

.technologyList {
    display: flex;
    gap: var(--gap-medium);
    align-self: center;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
}

.technologyContainer {
    padding-block-start: var(--padding-block-x2large);
}

.technologyList .item {
    background-color: rgb(var(--accent-color-dark-1-rgb));
    border-radius: var(--border-radius);
    padding-inline: 1rem;
    padding-block: 0.25rem;
    color: white;
}

.mainImage {
    align-self: center;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin-block-start: var(--padding-block-small);
}

.featureContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-start: var(--padding-block-x2large);
    width: 100%;
    outline: 2px solid rgb(var(--accent-color-dark-1-rgb));
    border-radius: var(--border-radius);
    padding-inline: var(--padding-inline-large);
    padding-block: var(--padding-block-large);
}

.featureTitle {
    padding-block-end: var(--padding-block-large);
    color: rgb(var(--accent-color-dark-1-rgb));
    font-size: var(--font-size-x2large);
}

.featureList {
    display: flex;
    justify-content: space-between;
}

.feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: min-content;
}

.feature p {
    font-size: var(--font-size-small);
    width: 90%;
    padding-block-start: var(--padding-block-small);
}

.feature h1 {
    font-size: var(--font-size-large);
    font-weight: 600;
    padding-block-end: var(--padding-block-small);
}

.featureGif {
    width: 95%;
    height: auto;
}

.downloadContainer {
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
    justify-content: center;
    align-items: center;
    padding-block-start: var(--padding-block-x2large);
    width: 100%;
}

.downloadButton {
    padding-inline: var(--padding-inline-large);
    padding-block: var(--padding-block-small);
    border-radius: var(--border-radius);
    border: none;
    background-color: rgb(var(--accent-color-dark-1-rgb));
}

.resumeTitleContainer {
    margin-block-start: var(--padding-block-xlarge);
}

@media screen and (max-width: 950px) {
    .image {
        width: 500px;
        height: 338px;
    }
}

@media screen and (max-width: 830px) {
    .featureList {
        flex-direction: column;
        gap: var(--gap-large);
        justify-content: center;
        align-items: center;
    }
    .feature {
        width: 90%;
    }
    .featureTitle {
        text-align: center;
    }
}

@media screen and (max-width: 730px) {
    .image {
        width: 400px;
        height: 270px;
    }
    .image1 {
        top: 60px;
        right: 60px;
    }
    .image2 {
        top: 40px;
        right: 40px;
    }
    .image3 {
        top: 20px;
        right: 20px;
    }
}

@media screen and (max-width: 530px) {
    .image {
        width: 300px;
        height: 202px;
    }

    .technologyList .item p {
        overflow: auto;
    }
}
